<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/">Blog Project</a>
    </span>
    <span class="example-spacer"></span>

    <button mat-flat-button routerLink="users">Users</button>

    <button mat-flat-button style="margin-left: 20px;" routerLink="admin">Admin</button>

    <mat-form-field style="margin-left: 20px;" name="loginRegisterDropdown">
      <mat-label>Select a Option</mat-label>
      <mat-select placeholder="Login" class="select" (selectionChange)="navigateTo($event.value)">
        <mat-option *ngFor="let option of selectOptions" [value]="option.link">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <span>Blog Project</span>
    <span class="example-spacer"></span>
    <a routerLink="/login">Login</a>
    <a href="#">Register</a>
    <a routerLink="/admin">Admin</a>
  </mat-toolbar-row>

</mat-toolbar>


<router-outlet></router-outlet>
