.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.select {
  opacity: 0.75;
  font-size: 0.75em;
}

span a {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
}
